@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  font-family: 'Inter', sans-serif, system-ui;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[cmdk-group-heading] {
  user-select: none;
  font-size: 0.75rem;
  color: #858585;
  font-weight: 300;
  font-style: italic;
}

[cmdk-item][aria-selected='true'] {
  background-color: rgba(232, 232, 232, 0.5);
  color: #171717;
}

.boston-time { 
  width: 6.25rem;
}
