@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  font-family: 'Inter', sans-serif, system-ui;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
