@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .theme-light {
  --text: theme(colors.gray.800);
  --bg-color: theme(colors.gray.50);
} */

/* html {
  overflow: hidden;
  height: 100%;
} */

body {
  height: 100%;
  overflow: auto;
  color: #374151;
  background-color: #f7fafc;
}

.sticky-nav {
  position: fixed;
  z-index: 10;
  top: 0;
}
