@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .theme-light {
  --text: theme(colors.gray.800);
  --bg-color: theme(colors.gray.50);
} */

/* html {
  overflow: hidden;
  height: 100%;
} */

body {
  height: 100%;
  overflow: auto;
  color: #374151;
  background-color: #f7fafc;
<<<<<<< HEAD
=======
  font-size: 16px;
>>>>>>> eaef1851fdf69bec31b548f2806f974f8fdf69f1
}

.sticky-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  /* backdrop-filter: saturate(180%) blur(20px); */
  /* transition: background-color 0.1 ease-in-out; */
}
